{% extends 'base.html' %}

{% block title %} {{busPark.title}} {%endblock%}

{%block content%}
<div class="container nt-5">
  <div class="row">
    <div class="col-md-6">
      <h1> {{busPark.title}}</h1>
      <br>
      <h5>Адрес: {{busPark.address}}</h5>
      <br>
      <h5>Номер телефона: {{busPark.phone_number}}</h5>

      <a href="{%url 'park_list' %}" class="btn btn-secondary">Назад к списку</a>
      <a href="{%url 'park_update' busPark.pk%}" class="btn btn-warning">Редактировать</a>
      <a href="{%url 'park_delete' busPark.pk%}" class="btn btn-danger">Удалить</a>
    </div>
  </div>
</div>
{% endblock %}